---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/else-where.jpg'

import { sortMDByDate } from '@/utils'
import { fetchTistoryTopPosts } from '../utils/post'

const languages = ['java', 'kotlin', 'python', 'sql']
const frontend = ['typescript', 'tauri']
const backend = ['spring-boot', 'spring-batch', 'jpa']
const others = ['airflow', 'kubernetes', 'docker', 'postgres', 'valkey', 'git', 'ci/cd', 'datadog', 'aws', 'self-hosted']

const MAX_POSTS = 10
const tistoryPosts = await fetchTistoryTopPosts()
const allPostsByDate = sortMDByDate(tistoryPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={astro}
				alt='profile photo'
				class='h-36 w-auto rounded-full'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>기술로 비용을 줄이고 가치를 키우는 개발자 고형규입니다.</h1>
				<a
					href='https://github.com/GHGHGHKO/resume'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>

					<p class='font-medium'>Get free forked template</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='GS 리테일'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
						><path
							fill='currentColor'
							d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
						></path></svg
						>
					</Label>
					<Label
						title='GitHub'
						as='a'
						href='https://github.com/GHGHGHKO'
						target='_blank'>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 16 16"
							slot="icon"
							class="h-5 w-5 text-foreground/75">
							<path
								fill="currentColor"
								d="M8 0C3.58 0 0 3.58 0 8a8 8 0 0 0 5.47 7.59c.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13 -.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07 -1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82a7.548 7.548 0 0 1 2-.27c.68.003 1.36.092 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.001 8.001 0 0 0 16 8 c0-4.42-3.58-8-8-8z"
							></path>
						</svg>
					</Label>
					<Label
						title='Instagram'
						as='a'
						href='https://www.instagram.com/hg____ko/'
						target='_blank'>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5" slot="icon">
							<rect x="3" y="3" width="18" height="18" rx="5" stroke="currentColor" fill="none" stroke-width="1.5"/>
							<circle cx="12" cy="12" r="3.5" stroke="currentColor" fill="none" stroke-width="1.5"/>
							<circle cx="17" cy="7" r="1" fill="currentColor"/>
						</svg>
					</Label>
					<Label title='gudrb963@gmail.com'>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							slot="icon"
							class="h-5 w-5 text-foreground/75"
						>
							<path
								fill="currentColor"
								d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 2v.01L12 13 4 6.01V6h16zM4 18V8l8 5 8-5v10H4z"
							/>
						</svg>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<div class="text-muted-foreground space-y-4">
				<p>2021년 폐업을 계기로 비즈니스 감각과 개발 역량의 중요성을 절실히 느낀 후, 새로운 도전을 위해 백엔드 개발자의 길을 걷기 시작했습니다. 지금은 5년차 백엔드 개발자 입니다.</p>

				<p><strong>GS리테일</strong>에서는 백엔드 개발자로 근무하며 처음에는 약 5개 제휴사의 운영 업무를 담당했습니다.
					이후 30개 이상의 제휴사를 대상으로 운영 및 신규 제휴를 이끌며, <strong>반값택배</strong> 및 <strong>국내택배</strong> 물량을 지속적으로 성장시켰습니다.</p>
			</div>

		</Section>
		<Section title='TL;DR'>
			<Card
				heading='💰 비용 절감'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>IDC → 클라우드 전환으로 연 5억 → 2억, 택배 서비스가 적자에서 흑자로 전환</li>
				</ul>
			</Card>
			<Card
				heading='🔒 보안'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>API 접근 권한 체계 구축  </li>
					<li>세션 기반 → RSA(KMS) 기반 JWT 전환 (우리동네GS 앱 및 18,000대 택배장비)</li>
					<li>jwt subject 암호화를 위해 KMS(AES) 기반 암복호화 적용</li>
				</ul>
			</Card>
			<Card
				heading='🏗️ 아키텍처'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>UseCase 기반의 헥사고널 아키텍처 적용</li>
					<li>높은 응집도와 낮은 결합도를 유도하여 확장성과 유지보수성 강화</li>
				</ul>
			</Card>
			<Card
				heading='⚙️ 운영 효율화'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Shell Script(crontab) + Scheduled Spring Boot(daemonSet) → K8s Airflow 전환</li>
					<li>하루 3회 이상 발생하던 배치 장애 제거</li>
					<li>중단 배포였던 Scheduled Spring Boot → Spring Batch + Airflow로 개선</li>
				</ul>
			</Card>
			<Card
				heading='🎓 초기 경험'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>CentOS → Ubuntu BareMetal 전환, 메일·실습 서버 구축</li>
					<li>약 90명 학생의 배포 지원 경험</li>
					<li>이 과정에서 Docker 필요성 체감</li>
				</ul>
			</Card>
			<Card
				heading='🛠️ 주요 스택'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Spring Boot 3.5.x (Batch), Java 21, Airflow (K8s), K8s(Docker)</li>
				</ul>
			</Card>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			<Card
				heading='GS 리테일'
				subheading='물류DX | 매니저 | 백엔드'
				date='Oct 2022 - Now'
				imagePath='/src/assets/logo_gs_lg-removebg-preview.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>택배 시스템 개발 및 운영</li>
					<li>대한통운, 네이버, 토스, 당근 등 30개의 제휴사 담당 및 신규 제휴</li>
					<li>편의점 택배 서비스를 내재화 하기 위해 우리동네GS 서비스로 이관 주도 경험</li>
					<li>EDB - Aurora PostgreSQL ANSI SQL migration하여 IDC -> AWS 이관</li>
					<li>Datadog 로그 수집 적용 및 개인정보 핸들링하여 로그 보안 강화</li>
					<li>Onprem airflow - MWAA migration 배치 오류 80% 절감 및 dags 제거하여 비용 20% 최적화</li>
					<li>DB EAI 제거하여 DB lock 제거 및 vCPU 사용량 감소, 운영 복잡도 감소</li>
					<li>제휴 API, Batch(Airflow) 서비스의 CI/CD 자동화로 비효율 반복 작업 제거</li>
				</ul>
			</Card>
			<Card
				heading='GS 네트웍스'
				subheading='시스템파트 | 매니저 | 백엔드'
				date='Aug 2021 - Oct 2022'
				imagePath='/src/assets/logo_gs_lg-removebg-preview.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>택배 시스템 개발 및 운영</li>
					<li>Airflow 학습하여 onprem k8s 기반의 Airflow 이관 및 운영</li>
					<li>IDC -> IDC 차세대 프로젝트 오픈 경험</li>
					<li>flashback 쿼리를 사용하여 update 쿼리 장애 해결 경험</li>
					<li>배송조회 API 캐시 도입, 제휴사 API 버전 변경 (70% 오류 감소로 오류 탐지 복잡도 개선)</li>
				</ul>
			</Card>
			<Card
				heading='마인드패스'
				subheading='대표 | PM'
				date='Dec 2018 - Jan 2021'
				imagePath='/src/assets/mindpass.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-7 w-auto md:-left-28'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>2명의 대학교 동기와 창업</li>
					<li>GoogleNet 기반의 한국어 독화 MVP 제작 및 5,000만원 투자 수혜 (기술혁신형창업기업지원사업, 기술보증기금)</li>
					<li>위치 기반 메모 알람 서비스 애플리케이션 제작 및 3,000만원 투자 수혜 (맞춤형성장지원프로그램, 대전TP)</li>
					<li>GoogleNet 기반의 의류 분류 모델 MVP 제작 및 GPU 20TFlops 대여 수혜</li>
					<li>치매환자 낙상 방지 시스템 MVP 개발 및 건대 병원 파일럿 테스트 (특허 등록 지원)</li>
					<li>DJI framework 기반의 Robomaster S1 컨텐츠 개발</li>
					<li>CMS(강의 웹사이트) Backoffice RESTful API 개발</li>
				</ul>
			</Card>
			<Card
				heading='대한민국공군'
				subheading='병장 | 만기전역 | 위성통신병'
				date='Jan 2015 - Jan 2017'
				imagePath='/src/assets/Republic_of_Korea_Air_Force_emblem.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-20 w-auto md:-left-24'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>김포 근무, 자동 추적 위성 안테나, 수동 위성 안테나 운영</li>
				</ul>
			</Card>
		</Section>

		<Section title='Education'>
			<Card
				heading='건국대학교 글로컬캠퍼스'
				subheading='졸업 | 학사 | 컴퓨터공학과 '
				date='Mar 2014 - Feb 2021'
				imagePath='/src/assets/signature-logo_large-removebg-preview.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-16 w-auto md:-left-20'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>교내 서버관리자 업무 수행 및 학과 내 실습서버 구축 및 관리 (Ubuntu)</li>
					<li>관리되지 않던 학교 BareMetal을 Ubuntu로 변경하여 학교 실습서버 구축</li>
					<li>Windows server 실습 컴퓨터 유지보수 및 switch looping 개선</li>
					<li>마인드패스 창업</li>
				</ul>
			</Card>
			<Card
				heading='대헌공업고등학교'
				subheading='졸업 | 정보통신과'
				date='Mar 2011 - Feb 2014'
				altText='Lorem, ipsum dolor sit'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>C, AVR 기반의 모바일로보틱스를 활용한 기능경진대회 출전</li>
				</ul>
			</Card>
		</Section>

		<Section title='Personal Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://github.com/tauri-apps/awesome-tauri/pull/204'
					heading='tauri-app/awesome-tauri contribution'
					subheading='GIF meme finder app for Windows and macOS.'
					imagePath='/src/assets/tauri-images.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					href='https://ghghghko.github.io/upptime/'
					heading='GHGHGHKO/upptime'
					subheading='Self-hosted API 서버 모니터링 서비스입니다. Live Status 서버들은 직접 만든거에요.'
					imagePath='/src/assets/upptime-logo.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Certifications'>
			<Card
				as='a'
				heading='정보처리산업기사'
				date='Jun 2016'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
	<a
		href='https://github.com/GHGHGHKO/resume'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Get free forked template</p>
	</a>
</PageLayout>
